{%extends 'base.html'%}
{% block title %} BlogPost {% endblock %}
{% block css %}

        .post-box {
            max-width: 900px;
            margin: 40px auto;
            background: white;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 8px 25px rgba(0,0,0,0.08);
        }

        .title {
            font-size: 36px;
            font-weight: 700;
        }

        .date {
            color: #888;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .hero-img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            margin: 20px 0;
        }

        h4 {
            margin-top: 25px;
            font-weight: 600;
        }

        p {
            {% comment %} color: #444; {% endcomment %}
            line-height: 1.8;
            font-size: 16px;
        }

        .back-btn {
            margin-top: 30px;
        }
        .col-md-4{
            color: white;
        }
{% endblock%}

{%block body%}
<div class="container">
    
    <div class="post-box">

        <!-- TITLE -->
        <h1 class="title">{{post.title}}</h1>

        <!-- DATE -->
        <div class="date">Published on: <strong> {{post.publish_date}} </strong> </div>

        <!-- IMAGE (optional) -->
        <img src="{{post.thumbnail.url}}" class="hero-img">

        <!-- SECTION 1 -->
        <h4>{{post.heading1}}</h4>
        <p>
            {{post.contant1}}
        </p>

        <!-- SECTION 2 -->
        <h4>{{post.heading2}}</h4>
        <p>
            {{post.contant2}}
        </p>

        <!-- SECTION 3 -->
        <h4>{{post.heading3}}</h4>
        <p>
        {{post.contant3}}
        </p>

        <a href="#" class="btn btn-dark btn-sm back-btn">
            ← Back to Blog
        </a>
    </div>
            </div>

{%endblock%}

{% block footer %}
{% endblock%}

